$gap: 50px;

.grid-controls {
  padding: 32px 10%;
  * + * {
    margin-top: 16px;
  }
}

.grid-wrapper {
  // margin: auto auto auto -#{$gap};
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;

  @media (max-width: 480px) {
    margin: 0 auto;
  }

  @media (min-width: 481px) {
    // padding-right: calc(1.496584266497641%);
    padding-right: 3.5%;
    margin: auto -50px;
  }

  @media (min-width: 1024px) {
    padding-right: calc(2.00692388741157%);
  }

  @media (min-width: 481px) and (max-width: 768px) {
    margin: auto -#{$gap / 2};
  }
  /*   @media (min-width: 1025px) {
    margin: auto -#{$gap / 2};
  } */

  @media (min-width: 1366px) {
    // margin: auto -#{$gap};
  }
}

.grid {
  --item-hover-right-pos: -25px;
  --body-background: var(--background-color, #fff);
  --body-color: var(--text-color, #000);
  list-style: none;
  padding: 0;
  display: flex;
  margin: 64px auto 32px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: $gap;

  @media (max-width: 480px) {
    display: block;
    margin-top: 16px;
  }

  @media (min-width: 1366px) and (max-width: 1880px) {
    margin-top: calc(130px + 16px);
  }

  &__col {
    @media (min-width: 1366px) and (max-width: 1880px) {
      margin-top: 130px;
    }
    &:nth-of-type(3n - 1) {
      @media (min-width: 1366px) and (max-width: 1880px) {
        margin-top: -130px;
      }
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    transition: all 700ms ease;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    flex-basis: 100%;
    padding: $gap 0;

    @media (max-width: 480px) {
      display: block;
      // padding: $gap 0;
    }

    @media (min-width: 481px) and (max-width: 768px) {
      padding: 0 $gap / 2 $gap * 1.5 $gap / 2;
    }

    @media (min-width: 769px) {
      padding: 0 $gap $gap * 1.5 $gap;
    }

    @media (min-width: 1366px) {
      padding-bottom: $gap * 2;
    }

    &__inner {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 500ms ease;
      justify-content: center;
      align-items: center;
    }

    .content {
      padding: 16px;
    }

    &__title {
      color: var(--text-color);
      text-decoration: none;
      position: relative;
      top: 20px;
      left: 10px;
      font-weight: 100;
      font-size: 14px;
    }

    a {
      text-decoration: none;
    }
  }

  .img-container {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all 700ms ease;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &.loaded {
        box-shadow: 5px 5px 10px 0 rgba(#000, 0.2);
      }
    }

    .img-container__bg,
    .img-container__bg--loading {
      display: block;
      z-index: -1;
      width: calc(100%);
      height: calc(100%);
      position: absolute;
      top: -#{$gap / 2};
      right: -#{$gap / 2};
      transition: all 400ms ease;
      transform: scaleY(0);
      overflow: hidden;
      opacity: 1;
    }

    .img-container__bg {
      transform-origin: bottom;
      &.colors-loaded {
        transform: scaleY(1);
        // transition-delay: 400ms;
        box-shadow: 0 0 20px 0 rgba(#000, 0.2);
      }
    }

    .img-container__bg--loading {
      transform-origin: initial;
      transform: scale(1);
    }

    &__inner {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-top: 1440 / 1920 * 100%;
    }
  }

  .item {
    &.image-loaded {
      .img-container__bg--loading {
        opacity: 0;
        transition-delay: 700ms;
      }
      .img-container {
        .img-container__bg {
        }

        &__inner {
          height: auto;
          padding-top: 0;

          img {
            position: static;
          }
        }
      }
    }
  }

  .item__overlay {
    position: absolute;
    z-index: 2;
    background: var(--body-background);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all 700ms ease;
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: all 700ms ease;

    &.loaded {
      opacity: 1;
    }
  }

  .item:hover {
    .img-container {
      img {
        transform: scale(1.07);
      }
      .img-container__bg {
        transition-delay: 0ms !important;
        transform: scale(0.75);
      }
    }
  }

  .black-and-white & {
    img {
      filter: grayscale(1);
    }
  }
}
