$gap: 50px;

.grid-controls {
  padding: 32px 10%;
  * + * {
    margin-top: 16px;
  }
}

.grid-wrapper {
  margin: auto -#{$gap};
  min-height: 100vh;
  overflow: hidden;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.grid {
  --item-hover-right-pos: -25px;
  --body-background: var(--background-color, #fff);
  --body-color: var(--text-color, #000);
  list-style: none;
  padding: 0;
  display: flex;
  margin: 64px auto 32px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 768px) {
    display: block;
    margin-top: 16px;
  }

  @media (min-width: 1366px) and (max-width: 1920px) {
    margin-top: 200px;
  }

  .item {
    display: flex;
    flex-direction: column;
    transition: all 700ms ease;
    position: relative;
    justify-content: flex-start;
    padding: $gap;
    width: 100%;
    flex-basis: 100%;

    @media (max-width: 768px) {
      display: block;
      padding: $gap 0;
      /*       padding: $gap / 2 $gap / 4;
      width: calc(100% / 2);
      flex-basis: calc(100% / 2); */
    }

    @media (max-width: 1024px) {
      // padding: $gap / 2;
    }

    @media (min-width: 769px) {
      width: calc(100% / 2);
      flex-basis: calc(100% / 2);
    }

    @media (min-width: 1366px) {
      width: calc(100% / 3);
      flex-basis: calc(100% / 3);
    }

    @media (min-width: 1440px) {
      width: calc(100% / 3);
      flex-basis: calc(100% / 3);
    }

    @media (min-width: 1920px) {
      width: calc(100% / 4);
      flex-basis: calc(100% / 4);
    }

    &__inner {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 500ms ease;
      justify-content: center;
      align-items: center;

      @media (min-width: 1025px) {
        min-height: 400px;
      }
    }
    @media (min-width: 1440px) {
      &:nth-of-type(1n) {
        .item__inner {
          align-items: flex-start;
        }
      }

      &:nth-of-type(3n - 1) {
        .item__inner {
          align-items: center;
        }
      }

      &:nth-of-type(3n) {
        .item__inner {
          align-items: flex-end;
        }
      }
    }

    @media (min-width: 1920px) {
      &:nth-of-type(1n),
      &:nth-of-type(3n - 1),
      &:nth-of-type(3n) {
        .item__inner {
          align-items: flex-start;
        }
      }
    }

    .content {
      padding: 16px;
    }

    &__title {
      color: var(--text-color);
      text-decoration: none;
      position: relative;
      top: 20px;
      left: 10px;
      font-weight: 100;
      font-size: 14px;
    }

    a {
      text-decoration: none;
    }

    .img-container {
      @media (min-width: 1366px) and (max-width: 1920px) {
        margin-top: 200px;
      }
    }

    &:nth-of-type(3n - 1) {
      .img-container {
        @media (min-width: 1366px) and (max-width: 1920px) {
          margin-top: -200px;
        }
      }
    }
  }

  .img-container {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all 700ms ease;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &.loaded {
        box-shadow: 0 0 20px 0 rgba(#000, 0.2);
      }
    }

    .img-container__bg,
    .img-container__bg--loading {
      display: block;
      z-index: -1;
      width: calc(100% + 5%);
      height: calc(100% + 5%);
      position: absolute;
      top: -10%;
      right: -8%;
      transition: all 400ms ease;
      transform: scaleY(0);
      overflow: hidden;
      opacity: 1;
    }

    .img-container__bg {
      transform-origin: bottom;
      &.colors-loaded {
        transform: scaleY(1);
        // transition-delay: 400ms;
        box-shadow: 0 0 20px 0 rgba(#000, 0.2);
      }
    }

    .img-container__bg--loading {
      transform-origin: initial;
      transform: scale(1);
    }

    &__inner {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-top: 1440 / 1920 * 100%;
    }
  }

  .item {
    &.image-loaded {
      .img-container__bg--loading {
        opacity: 0;
        transition-delay: 700ms;
      }
      .img-container {
        .img-container__bg {
        }

        &__inner {
          height: auto;
          padding-top: 0;

          img {
            position: static;
          }
        }
      }
    }
  }

  .item__overlay {
    position: absolute;
    z-index: 2;
    background: var(--body-background);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all 700ms ease;
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: all 700ms ease;

    &.loaded {
      opacity: 1;
    }
  }

  .item:hover {
    .img-container {
      // transform: scale(1.07) translate(10px, -10px);

      img {
        transform: scale(1.07);
      }
      .img-container__bg {
        transition-delay: 0ms !important;
        transform: scale(0.75);
        /* translate(
            var(--item-hover-right-pos, 25px),
            var(--item-hover-right-pos, 25px)
          ); */
      }
    }
  }

  .black-and-white & {
    img {
      filter: grayscale(1);
    }
  }
}
