.button {
  border: 1px solid var(--link-color);
  color: var(--link-color);
  padding: 8px 12px;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  outline: none;

  .icon {
    font-size: 20px;
  }

  &.navmenu__button {
    border-color: var(--text-color);
    color: var(--text-color);
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    transition: all 300ms ease;

    &:hover {
      border-color: var(--link-color);
      color: var(--link-color);
    }
  }
}
