.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  background: #eee;

  .progress {
    background: var(--progress-bar-bg-color);
    transform-origin: left;
    transform: scaleX(0);
  }
}
