.navmenu-container {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;

  @media (max-width: 768px) {
    position: relative;
  }
}

.navmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 95%;
  max-width: 1680px;
  margin: 0 auto;

  @media (min-width: 1280px) {
    padding: 0 32px;
  }

  a {
    color: var(--color-text);
    text-decoration: none;
  }

  &__list {
    list-style: none;
    display: flex;

    &__item {
      padding: 8px;
    }
  }

  &__title {
    display: block;
    color: var(--color-text);
    text-decoration: none;

    h1 {
      font-size: 1.5rem;
    }
  }
}
