.post {
  min-height: 100vh;
  background: var(--background-color, #fff);
  color: var(--post-text-color, black);
  // margin: 0 -16px;

  .post__content-pusher,
  &__img-container {
    height: calc(100vh - (78px * 2));

    @media (min-width: 1000px) and (max-width: 1280px) and(orientation: portrait) {
      height: calc(75vh - (78px * 3));
    }
  }

  &__img-container {
    // position: relative;

    .button-close-image {
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      text-decoration: none;
      background: transparent;
      height: 30px;
      width: 30px;
      display: flex;
      padding: 0;
      align-items: center;
      justify-content: center;
      color: var(--navmenu-text-color);
      border: none;
      border-radius: 50%;

      .icon {
        color: var(--navmenu-text-color);
        font-size: 24px;
      }
    }

    img {
      margin: auto;
      position: relative;
      z-index: 1;
      transition: all 500ms ease;
      display: block;
      max-height: 100%;
      object-fit: initial;
      max-height: calc(100% - 78px / 2);

      @media (max-width: 768px) {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: initial;
      }

      @media (min-width: 769px) {
        max-width: 100%;
        width: auto;
        height: auto;
        box-shadow: 0 0 32px 0 rgba(#000, 0.3);
      }
      @media (max-width: 768px) and (orientation: landscape) {
        max-width: 100%;
        max-height: calc(100% - 78px / 2);
        width: auto;
        height: auto;
        box-shadow: 0 0 32px 0 rgba(#000, 0.3);
        object-fit: initial;
      }
    }
  }

  &.with-large-image {
    .post__img-container {
      img {
        max-height: none;
      }
    }
  }

  &__body {
    max-width: 1280px;
    margin: 8px auto 32px auto;
    padding: 0 16px;
    text-align: center;

    @media (max-width: 768px) {
      margin-top: 8px;
      padding-top: 0;
    }
  }

  &__img-information-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
  }

  &__header-bg {
    height: calc(100vh - 78px);

    @media (min-width: 1024px) and (orientation: portrait) {
      height: calc(75vh - (78px * 2));
    }
  }

  .img-wrapper {
    position: relative;
  }

  &__content-html {
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 32px auto;
    }
  }
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  height: 180px;
  margin: 0 -16px;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    transition: all 300ms ease;
    color: var(--text-color, #000);
    text-decoration: none;
    &:hover {
      color: var(--link-color);
    }
  }

  &--over-image {
    height: 76px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 95%;
    max-width: 1680px;
    margin: 0 auto;
    transform: translateY(calc(-50% - 38px));
    z-index: 10;

    .post-navigation__link {
      font-size: 24px;
      margin: 0 8px;
      color: var(--navmenu-text-color);
    }

    @media (max-width: 768px) {
      top: auto;
      bottom: 0;
      transform: translateY(100%);
      .post-navigation__link {
        font-size: 24px;
        margin: 0 8px;
        color: var(--text-color);
      }
    }
  }
}
@media only screen and (min-width: 834px) and (orientation: portrait) {
  .post__header-bg {
    height: calc(75vh - (78px * 2));
  }
  .post__img-container {
    height: calc(75vh - (78px * 3));
  }
}

/* @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
  only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1024px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  only screen and (min-resolution: 264dpi) and (min-width: 1024px),
  only screen and (min-resolution: 2dppx) and (min-width: 1024px) {

  .post__header-bg {
    height: calc(75vh - (78px * 2));
  }
  .post__img-container {
    height: calc(75vh - (78px * 3));
  }
} */
