:root {
  --background-color: white;
  --text-color: black;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  background: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

@import "./modules/layout";
@import "./modules/color-palette";
@import "./modules/NavMenu";
@import "./modules/post";
@import "./modules/PostsList";
