@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --dark-blue: #1e272e;
  --link-color: dodgerblue;
  --background-gradient-second-color: #fff;
  --background-color: #fff;
  --text-color: var(--dark-blue);
  --post-text-color: var(--dark-blue);
  --navmenu-text-color: var(--text-color);
}

html {
  font-size: 16px;

  &.dark-mode {
    --background-gradient-second-color: var(--dark-blue);
    --background-color: var(--dark-blue);
    --text-color: #fff;
    --post-text-color: #fff;
    --navmenu-text-color: #fff;
  }

  &.with-photo-color-theme--dark {
    --navmenu-text-color: #fff;
  }

  &.with-photo-color-theme--light {
    --navmenu-text-color: #000;
  }

  &.black-and-white {
    img {
      filter: grayscale(1);
    }
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: var(--background-color, #fff);
  /*   background: linear-gradient(
    180deg,
    var(--background-color, #fff) 0%,
    var(--background-color, #fff) 50%,
    var(--background-gradient-second-color, #fff) calc(50% - 76px)
  ); */
  background-repeat: no-repeat;
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color, dodgerblue);
}

@import "./modules/normalize";
@import "./modules/layout";
@import "./modules/color-palette";
@import "./modules/NavMenu";
@import "./modules/site-logo";
@import "./modules/post";
@import "./modules/PostsList";
@import "./modules/button";
@import "./modules/LoadingBar";
@import "./modules/categories-filters-menu";
@import "./modules/Loading";
@import "./modules/map";
@import "../components/Grid/styles/grid";

.container {
  width: 95%;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 1024px) and (max-width: 1280px) {
    max-width: 1180px;
  }

  /*

  @media (min-width: 1440px) {
    max-width: 1280px;
  }
*/

  @media (min-width: 1920px) {
    max-width: 1680px;
  }

  &.full-width {
    width: 100%;
    max-width: none;
  }

  &.no-padding {
    padding: 0;
  }

  .row {
    margin: 0 -16px;

    &.flex {
      display: flex;
      flex-wrap: wrap;
    }

    &.ai-flex-end {
      align-items: flex-end;
    }

    &.ai-flex-start {
      align-items: flex-start;
    }

    &.ai-flex-center {
      align-items: center;
    }

    &.jc-flex-start {
      justify-content: flex-start;
    }

    &.jc-flex-end {
      justify-content: flex-end;
    }

    &.jc-center {
      justify-content: center;
    }
  }
}
